/*index.css*/

/*general*/
html, body, #map { height: 100%, padding:0; margin: 0;}
:focus {outline: none;}
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    margin-right:5px;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    *overflow: hidden;
}

/*fonts*/
body {font-family: 'Open Sans', sans-serif; font-size: 13px;}
h2 {font-family: 'Lato', sans-serif; font-size:24px;}


/*map controls*/
.leaflet-bar a { background-color: #fff; border-bottom: 1px solid #ccc; color: #444; display: block; height: 26px; width: 26px; line-height: 1.45 !important; text-align: center; text-decoration: none; font: bold 18px 'Lucida Console', Monaco, monospace; }


/* map elements */
#select-panel, #layer-panel {
	background: #fff;
	height: auto;
	width: 259px;
	position: absolute;
	border: 2px solid rgba(0,0,0,0.2);
	padding: 0 1em 2.5em 2.5em;
	height:auto;
	z-index:1001;
}

#select-panel { top: 10px; }
#layer-panel { 
	bottom: 10px; 
	z-index:100001; 
	padding-bottom:1.5em;
}

#layer-panel p {margin:1em 0 .25em;}
#layer-panel label {color: #6e6e6e; font-size: 13px;}

.cartodb-logo {display:none !important;}

select#goulding-select {width: 200px; font-size: 13px;}

/*select2 styles*/
.select2-container--default .select2-selection--single {font-size: 14px;}

/*results table */
table#results-table {color:#7e7e7e; margin-top: 1em;}
table#results-table td:first-child {padding-right: 11px;}
table#results-table td {line-height:1.7; vertical-align: bottom;}